*, *:before, *:after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  html, body {
    height: 100%;
    width: 100%;
  }
  .tap {
    height: 50%;
    width: 100%;
    font-size: 3em;
    font-family: Arial;
    text-align: center;
    padding-top: 100px;
  }
  
  .red {
    background-color: rgb(248, 116, 116);
    /* transform: rotate(180deg); */
  }
  
  .blue {
    background-color: rgb(101, 101, 243);
  }
  .input {
    /* display: none; */
    height: 50%;
    width: 100%;
    font-size: 3em;
    font-family: Arial;
    text-align: center;
    padding-top: 100px; 
    
  }